name: Build and deploy workflow
on:
  push:
    branches:
      - master
      - develop
      - HW34

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: clone code
        uses: actions/checkout@v3
      - name: docker building
        run: docker build -t charfull/cw_7:${{ secrets.GIT_HUB_REF_NAME }} .
      - name: docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS  }}
      - name: docker push
        run: docker push charfull/cw_7:hw34
  deploy:
    runs-on: ubuntu-latest
    needs: build_and_push
    env:
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      POSTGRES_PASSWORD: ${{ secrets.PASSWORD }}
      POSTGRES_USER: ${{ secrets.USERNAME }}
    steps:
      - name: clone code
        uses: actions/checkout@v3
      - name: render configs
        run: |
          mkdir deploy_ci
          cat ./docker-compose-ci.yami | envsubst > deploy_ci/docker-compose.yaml
          cat ./.env | envsubst > deploy_ci/.env

      - name: Cleanup
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST}}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            docker system prune -a -f    

#      - name: copy files to server
#        uses: appleboy/ssh-action@master
#        with:
##          run: |
##            mkdir todolist
##            cat docker-compose-ci.yami | envsubst > todolist/docker-compose.yaml
#          host: ${{ secrets.HOST }}
#          username: ${{ secrets.SSH_USER }}
#          password: ${{ secrets.SSH_PASSWORD }}
##          source: "deploi_ci/docker-compose.yaml,doploy_ci/.env"
#          source: "deploi_ci/*"
#          target: "todolist"
#          strip_components: 1"
      - name: Copy on Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST}}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          source: "deploy/*"
          target: "todolist"
          strip_components: 1

      - name: deploy app
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            cd todolist
            docker-compose down
            echo sudo docker-compose up -d
#            docker-compose up -d
